<h1>Title case!</h1>
<p>Change the case of an word which you input.</p>
<form action='/title'>
  <div class="form-group">
    <label for="title">Words to evaluate:</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
